html {
    overflow-y: scroll;
}

body {
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
    color: #353535;
    background-color: #E0E0E0;
    font-size: 14px;
}


/* Links */
a, a:visited, a:active {
    color: #005FB7;
    text-decoration: none;
    outline: 0;
}

    a:hover {
        color: #00427d;
        text-decoration: none;
    }

.regularLink {
    text-decoration: none;
}

    .regularLink:hover {
        text-decoration: underline;
    }



img {
    border: none;
    -ms-interpolation-mode: bicubic;
}

/*
p a, .arrow a {
    border-bottom: 1px solid #ccc;
}

    p a:hover, .arrow a:hover {
        border-bottom: 1px solid #888;
    }
    */




/* Headers */

/*
h1, h2, h3, h4, h5, h6
{
    color: #1390BD;
    font-size: 100%;
}
*/


/*
h1
{
    font-size: 36px;
    line-height: 38px;
    font-weight: bold;
    padding-bottom: 7px;
    color: #444;
}



h1 span
{
    font-weight: lighter;
    color: #888;
}
*/






/* General */
p, ul, ol, h1, h2, h3, h4, h5, h6, img, table {
    margin: 0;
    padding: 0;
}

    ul ul, ol ol {
        padding-bottom: 0;
    }

.contentWrapper li {
    margin: 0 0 0 0;
    list-style: disc outside none;
}

.contentWrapper ol > li {
    list-style: decimal outside none;
}





/* Tables */
.tbl-standard {
    border-collapse: collapse;
    border: 1px solid #ccc;
    margin: 0 auto 15px;
}

    .tbl-standard td, .tbl-standard th {
        padding: 5px;
        margin: 4px;
        text-align: center;
    }

    .tbl-standard th {
        background: #0e6485 url(../Images/cellGradientLight.png) top left repeat-x;
        color: #fff;
        text-shadow: 1px 1px 0 rgba(0,0,0,.4);
    }

    .tbl-standard td {
        border: 1px solid #ccc;
    }

    .tbl-standard tr {
        background: #fff url(../Images/cellGradient.png) top left repeat-x;
    }

        .tbl-standard tr:nth-child(odd) {
            background-color: #f1f1f1;
        }





/* Helpers */
.clearBoth {
    clear: both;
}

.float_l {
    float: left;
}

.float_r {
    float: right;
}

.txt_center {
    text-align: center;
}

.txt-left {
    text-align: left;
}

.txt-right {
    text-align: right;
}

.mainTagline {
    color: #888;
    font-weight: lighter;
    font-size: 21px;
    line-height: 24px;
}

.alert-yellow {
    background-color: #FFFECC;
    border: 1px solid #EFDC90;
    padding: 15px 15px 0;
    border-radius: 10px;
}

.captionedImage {
    /* centers image - block also needed for putting a caption under it properly*/
    display: block;
    margin: 0 auto;
}

.caption, .figure {
    text-align: center;
    color: #7f7f7f;
}

.code {
    font-family: monospace;
}

.matte-bg {
    background: transparent url(../Images/common-matt-v1.png) repeat top left;
    padding: 15px 15px 0;
    overflow: hidden;
    border-radius: 10px;
}

.arrow li {
    list-style: none inside none;
    margin: 0 0 7px 20px;
    padding: 0 0 0 20px;
    background: transparent url(../Images/arrow.png) 0 5px no-repeat;
}

    .arrow li:hover {
        background: transparent url(../Images/arrow.png) 3px 5px no-repeat;
    }

.noSilverLight {
    background: transparent url(../Images/global-sprite-v2.png) left -361px no-repeat;
    text-indent: -999em;
    width: 221px;
    height: 55px;
    margin: 75px auto 0;
    display: block;
}





/* Page Structure */
#outerWrapper, .footer {
    /*
    width: auto;
    min-width: 960px;
    margin: 15px 15px;
    */
    padding: 15px;
    width: 930px;
    margin: 15px auto;
}

#outerWrapper {
    background-color: #fff;
    box-shadow: 0 0 20px #888;
}

    #outerWrapper:after {
        content: ".";
        display: block;
        clear: both;
        visibility: hidden;
        line-height: 0;
        height: 0;
    }

.contentWrapper {
    /*float: left;*/
    /*width: 869px;*/
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    /*padding: 28px 25px 20px;*/
}

.leftContent {
    float: left;
    width: 230px;
}

.rightContent {
    width: 700px;
    float: right !important;
    overflow: hidden;
}




/* Header */
.header {
    position: relative;
    z-index: 35;
}

.mainHomepageTitle {
    display: block;
    width: 170px;
    background: transparent url(../Images/CanaKitLogo.png) top left no-repeat;
}

.search-box {
    float: right;
    clear: both;
}

    .search-box input[type="text"] {
        width: 265px;
        padding: 2px;
        color: #888;
        height: 16px;
    }

#SearchBtn {
    float: right;
    width: 24px;
    height: 24px;
    background: url(../Images/global-sprite-v2.png) left -197px;
    cursor: pointer;
}




/* Left Navigation */
.leftNav {
}

    .leftNav h1 {
        color: #353535;
        font-size: 18px;
    }

        .leftNav h1 a,
        .leftNav h1 a:visited {
            color: #353535;
        }

            .leftNav h1 a:hover {
                text-decoration: underline;
            }

    .leftNav div a,
    .leftNav div a:visited {
        color: #353535;
        display: block;
        overflow: hidden;
    }

        .leftNav div a:hover {
            text-decoration: underline;
        }


/* Category Page */
h1.categoryBreadCrumb {
    display: inline-block;
    /* background: url(/Images/featuredh1Bg.png) top repeat-x; */
    color: #666666;
    /*border: #e0e0e0 1px solid; */
    padding-left: 10px;
    padding-right: 10px;
    /*height: 32px; */
    /*line-height: 32px; */
    font-size: 14px;
    font-weight: bold;
    /*margin: 0 0 15px 0; */
}

    h1.categoryBreadCrumb a {
        color: #666666;
    }

        h1.categoryBreadCrumb a:hover {
            color: #c75500;
            text-decoration: underline;
        }

.categoryIntroduction {
    display: block;
    margin-bottom: 10px;
}


/* Product List */

a.ProductListTitle,
a.ProductListTitle:visited {
    font-size: 16px;
    font-weight: bold;
}

    a.ProductListTitle:hover {
        text-decoration: underline;
    }

.ProductListFeatures {
    font-size: 9pt;
    margin-left: 15px;
    display: block;
    padding-top: 7px;
    padding-left: 7px;
}

/*
.ProductListFeatures.ul li
{
    list-style-type: disc;
    list-style-position: inside;
    padding: 0px 0px 0px 20px;
    text-indent: -1em;
}
*/

.ProductListPrice {
    font-size: 30px;
    font-weight: bold;
}

    .ProductListPrice span {
        font-size: 11px !important;
        vertical-align: 13px;
        padding-left: 2px;
    }

/* Location List */
#locationList {
    display: none;
    position: absolute;
    z-index: 1075;
    background-color: #fff;
    border: 1px solid #ccc;
    width: 140px;
    right: -9px;
}

    #locationList ul {
        float: left;
        margin: 5px;
    }

    #locationList li {
        padding: 5px;
        line-height: 21px;
    }

#SubNav {
    overflow: hidden;
    float: right;
    margin: 5px 0 10px;
    font-size: 12px;
}

    #SubNav li {
        list-style: none outside none;
        float: left;
        outline: 0;
    }

    #SubNav > ul > li {
        border-left: 1px solid #ccc;
        padding-left: 10px;
        line-height: 12px;
    }

        #SubNav > ul > li:first-child {
            border: 0;
            padding-left: 0;
        }





/* Footer */
.footer {
    /*width: 986px; */
    /*margin: 0 auto; */
}

.footerInn {
    padding: 15px 15px;
    padding-top: 0px;
    font-size: 11px;
}

.footerLeft {
    float: left;
    width: 300px;
}

.footerRight {
    float: right;
    margin-top: 5px;
    width: 225px;
}

.copyright {
    float: left;
    width: 450px;
}

.poweredBy {
    float: right;
    width: 450px;
    text-align: right;
}


/*
.footer
{
    padding: 30px 0 20px;
    overflow: hidden;
}
.footer a
{
    color: #888;
}
.footer a:hover
{
    color: #444;
}

.footer li
{
    float: left;
    list-style: none;
}
.canakit-link
{
    display: block;
    background: transparent url(../Images/global-sprite-v2.png) left -234px no-repeat;
    width: 119px;
    height: 19px;
}
.footer-column
{
    width: 129px;
    font-size: 11px;
    line-height: 18px;
    float: left;
}
.footer-column li
{
    clear: both;
}

.li-header a
{
    font-weight: bold;
    color: #444;
    font-size: 14px;
}
.li-header a:hover
{
    color: #000;
}

.copyright-section
{
    border-top: 1px solid #888;
    clear: both;
}
.copyright-section li
{
    margin: 18px 20px 0 0;
}

.toTop
{
    margin-top: -48px;
}

.button-footer
{
    width: 29%;
    float: left;
    margin-left: 5%;
}
.button-footer:first-child
{
    margin-left: 0;
}
.button-footer .footer-button
{
    display: block;
    line-height: 44px;
    width: 207px;
    background-color: #888;
    font-size: 15px;
    color: #fff;
    text-align: center;
}
.button-footer .footer-button:hover
{
    background-color: #666;
    color: #fff;
}
.free-trial-footer .footer-button
{
    background-color: #83aa58;
}
.free-trial-footer .footer-button:hover
{
    background-color: #5a763d;
}

.social-footer a
{
    background: transparent url(../Images/global-sprite-v2.png) -376px -378px no-repeat;
    margin: 8px 0 0px 10px;
    width: 32px;
    height: 33px;
    text-indent: -999em;
    display: block;
    border-bottom: 0;
    opacity: .7;
}
.social-footer a:hover
{
    opacity: 1;
}
.social-footer span
{
    float: left;
    line-height: 42px;
    font-size: 25px;
}

.social-footer a.twitter
{
    background-position: -335px -378px;
}
.social-footer a.rss
{
    background-position: -418px -378px;
}
*/




/* Top Navigation Menu */
#TopNav {
    position: relative;
    height: 32px;
    z-index: 1000;
    width: auto;
    margin: 15px 0 0;
    line-height: 21px;
}

    #TopNav li {
        position: relative;
        list-style: none;
        float: left;
    }
    /* tier 1 nav */
    #TopNav a {
        display: block;
        background: transparent url(../Common/Images/Buttons/ButtonCyan.png) center 0px no-repeat;
        color: #fff;
        text-align: center;
        /*width: 129px;*/
        height: 25px;
        padding: 6px 0 2px;
        margin-right: 2px;
    }

        #TopNav a:hover {
            text-decoration: none;
        }

    /* tier 2 nav */
    #TopNav li ul li a {
        text-transform: none;
        text-align: left;
        background: #639ebf none;
        border-bottom: 1px solid #FFF;
        height: 30px;
        padding: 7px 0px 0px 10px;
        opacity: .97;
    }

    #TopNav ul ul {
        position: absolute;
        visibility: hidden;
        border-top: 1px solid #fff;
        /*width: 129px;*/
    }

    /* Hover & Current page */
    #TopNav li li a:hover, #TopNav li .childHover > a, #TopNav li ul .active > a {
        background-color: #1ca7da;
        text-decoration: none;
    }

    /* Add more rules here if your menus have more than three (3) tiers */
    #TopNav li:hover ul ul {
        text-decoration: none;
        visibility: hidden;
    }

    /* Add more rules here if your menus have more than three (3) tiers */
    #TopNav li:hover ul, #TopNav li li:hover ul, #TopNav .childHover ul {
        text-decoration: none;
        visibility: visible;
    }

    /*Left side Rounded Corner*/
    #TopNav li:first-child a {
        background-position: 0 0px;
    }

    #TopNav li:first-child:hover a, #TopNav .active:first-child a {
        background-position: 0 -33px;
    }

    /* Last Button */
    #TopNav .last > a {
        background-position: right 0px;
    }

        #TopNav .last > a:hover, #TopNav .last.childHover > a, #TopNav .last.active > a {
            background-position: right -33px;
        }

    #TopNav li > a:hover, #TopNav .childHover > a, #TopNav .active > a {
        background-position: center -33px;
    }








/* Buttons */
.btn-wrap {
    /* For centering, use on both large and small buttons*/
    float: right;
    position: relative;
    left: -50%;
    text-align: left;
}

.btn-wrap-btm-pad {
    /* For bottom padding */
    overflow: hidden;
    padding-bottom: 15px;
}

a.btn-large {
    height: 71px;
    margin: 10px 0 10px 30px;
    padding-right: 30px;
    display: block;
    float: left;
    background: transparent url(../Images/global-sprite-v2.png) right -273px no-repeat;
    line-height: 65px;
    text-shadow: 1px 1px 1px rgba(0,0,0,.6);
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    white-space: nowrap;
    position: relative;
    left: 50%;
}

    a.btn-large span {
        width: 30px;
        height: 71px;
        margin-left: -30px;
        float: left;
        background: transparent url(../Images/global-sprite-v2.png) left -273px no-repeat;
        text-indent: -999em;
    }

    a.btn-large, a.btn-large span {
        background-color: #33b0dd;
    }

        a.btn-large:hover, a.btn-large:hover span {
            background-color: #1b7da2;
        }

        a.btn-large.green, a.btn-large.green span {
            background-color: #97c666;
        }

            a.btn-large.green:hover, a.btn-large.green:hover span {
                background-color: #5c9539;
            }

a.btn-small {
    display: block;
    height: 35px;
    line-height: 31px;
    font-size: 20px;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, .2);
    color: white;
    min-width: 80px;
    padding: 0 10px;
    border-radius: 5px;
    background: #579137 url(../Images/btn-little.png) top left repeat-x;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, .2);
}

    a.btn-small:hover {
        box-shadow: inset 0 0 10px rgba(0,0,0,.5);
    }

.btn-wrap a.btn-small {
    /* if used with a .btn-wrap class around it - will center the button */
    white-space: nowrap;
    position: relative;
    left: 50%;
}





/* Expandable Lists */
.newExpandoItem {
    list-style: none;
}

.expandoList {
    overflow: hidden;
}

.expanded {
    background: transparent url(../Images/minus_icon.png) no-repeat;
}

.collapsed {
    background: transparent url(../Images/plus_icon.png) no-repeat;
}

.contentToggle, .contentToggle:hover {
    padding: 0 0 0 25px;
}





/* Inside Pages */
#SubPageLeftColumn {
    width: 245px;
    float: left;
    margin-left: -25px;
}

    #SubPageLeftColumn h2 {
        border-radius: 5px;
        font-size: 16px;
        color: #444;
        margin: 0 0 5px;
        background-color: #F2F2F2;
        padding: 2px 10px 3px;
        border: 1px solid #E1E1E1;
    }

#SubPageMenu ul, #SubPageMenu li {
    margin: 0;
    padding: 0;
    list-style: none;
}

#SubPageMenu a {
    display: block;
    padding: 5px;
    border-bottom: 1px dashed #ccc;
}

#SubPageMenu {
    margin-top: 5px;
}

.AspNet-Menu-Vertical li.AspNet-Menu-Selected, .AspNet-Menu-Vertical li:hover {
    background-color: #6EB6DF;
}

.AspNet-Menu-Vertical a {
    min-height: 24px;
    display: block;
    background-color: #fff;
    color: #888;
}

    .AspNet-Menu-Vertical a:hover {
        color: #005FB7;
        background: #fff url(../Images/SubNav-hover.png) right center no-repeat;
    }

    .AspNet-Menu-Vertical a.AspNet-Menu-Selected {
        background: #fff url(../Images/SubNav-active.png) right center no-repeat;
        color: #005FB7;
        font-weight: bold;
        cursor: text;
    }

#SubPageLearnMore h2 {
    margin-top: 15px;
}

#SubPageContent {
    float: right;
    width: 640px;
    margin: 0 -15px 20px 0; /* 20px Added for scenario where right column is longer than left column*/
}

.locFeaturesSub #SubPageContent h2 {
    margin-top: 30px;
}

.features-nav li {
    padding-left: 28px !important;
    min-height: 24px;
    background: #999 url(../Images/common-feature-icons-mini-window-v2.png) top left no-repeat;
}

li.nav-feature-datasync {
    background-position: 0 6px;
}

li.nav-feature-database {
    background-position: 0 -24px;
}

li.nav-feature-compute {
    background-position: 0 -54px;
}

li.nav-feature-virtual-network {
    background-position: 0 -84px;
}

li.nav-feature-marketplace {
    background-position: 0 -114px;
}

li.nav-feature-storage {
    background-position: 0 -144px;
}

li.nav-feature-cdn {
    background-position: 0 -174px;
}

li.nav-feature-reporting {
    background-position: 0 -204px;
}

li.nav-feature-appliance {
    background-position: 0 -234px;
}

li.nav-feature-composite-app {
    background-position: 0 -264px;
}

li.nav-feature-integration {
    background-position: 0 -294px;
}

li.nav-feature-caching {
    background-position: 0 -324px;
}

li.nav-feature-access-control {
    background-position: 0 -354px;
}

li.nav-feature-service-bus {
    background-position: 0 -384px;
}

#SubPageAd {
    /*Added for scenario where left column is longer than right column*/
    margin-bottom: 20px;
}

/*paging @ bottom of content */

/*Remove when #pagingControl is removed from subpagetemplate*/
#pagingControl {
    display: none;
}

.prev-page {
    float: left;
    list-style-type: none !important;
    margin-left: 0 !important;
}

.next-page {
    float: right;
    text-align: right;
    list-style-type: none !important;
}


.prev-page a {
    background: transparent url(../Images/large-arrow-left.png) top left no-repeat;
    display: block;
    min-height: 50px;
    line-height: 50px;
    padding-left: 30px;
}

.next-page a {
    background: transparent url(../Images/large-arrow-right.png) top right no-repeat;
    display: block;
    min-height: 50px;
    line-height: 50px;
    padding-right: 30px;
}

.img-map {
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #e5e5e5;
}

    .img-map img {
        display: block;
        margin: 0 auto;
    }











/* Animations */
.arrow li, .arrow li:hover, .btn-large:hover, .btn-large:hover span, .footer-button:hover, .social-footer a:hover, #bottom-boxes a:hover, .shadowBox a:hover, .shadowBox span:hover {
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}

.btn-large, .btn-large span, .footer-button, .social-footer a, #bottom-boxes a, .shadowBox a, .shadowBox span {
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}


/* Tabs */

#small-tabs ul:first-child {
    clear: both;
    margin: 0;
}

    #small-tabs ul:first-child li {
        list-style: none;
        float: left;
        margin: 0;
    }

.ui-tabs-hide {
    display: none;
}

#small-tabs ul:first-child li a {
    float: left;
    padding: 6px 14px;
    color: #888;
    border: 1px solid #ccc;
    border-bottom: 0;
    margin: 0 4px 0 0;
    border-radius: 5px 5px 0 0;
}

#small-tabs .ui-tabs-selected a {
    color: #005FB7 !important;
    cursor: text;
}

#small-tabs .ui-state-hover a, #small-tabs .ui-tabs-selected a {
    background: transparent url(../Images/cellGradient.png) top left repeat-x;
}





/* Bottom Boxes */
#bottom-boxes {
    overflow: hidden;
    /*margin-top: 20px;*/
    padding-bottom: 10px;
}

    #bottom-boxes li {
        float: left;
        list-style-type: none;
        margin: 0 0 0 23px;
        border-radius: 10px;
    }

        #bottom-boxes li:first-child {
            margin: 0;
        }

    #bottom-boxes a {
        display: block;
        border-radius: 10px;
        padding-top: 7px;
        width: 198px;
        min-height: 126px;
        border: 1px solid #dadada;
        text-align: center;
        background: #f6f6f6;
        font-size: 18px;
        font-weight: bold;
        color: #444;
        box-shadow: 0 3px 5px rgba(0,0,0,.1);
    }


    #bottom-boxes li:hover {
        box-shadow: 0 3px 5px rgba(0,0,0,.2);
    }

    #bottom-boxes a:hover {
        border: 1px solid #a2a2a2;
        box-shadow: inset 0 0 15px rgba(0,0,0,.07);
    }

    #bottom-boxes span {
        font-size: 11px;
        font-weight: normal;
        display: block;
    }


/* ----------------- Shadow Box -----------------  */
.shadowBox {
    display: inline-block;
    overflow: hidden;
    /*margin-top: 20px;*/
    padding: 5px;
}

    .shadowBox li {
        float: left;
        list-style-type: none;
        margin: 0 0 10px 10px;
        border-radius: 10px;
        position: relative;
    }

        .shadowBox li:first-child {
            margin: 0;
        }

    .shadowBox a.outerLink,
    .shadowBox span.outerSpan {
        display: block;
        border-radius: 10px;
        padding: 5px 5px;
        /*width: 198px;*/
        /*min-height: 126px;*/
        border: 1px solid #dadada;
        /*text-align: center;*/
        /*font-size: 18px;*/
        /*font-weight: bold;*/
        /*color: #444;*/
        box-shadow: 0 3px 5px rgba(0,0,0,.1);
    }

.grayBackground {
    background: #f6f6f6;
}

.shadowBox li:hover {
    box-shadow: 0 3px 5px rgba(0,0,0,.2);
}

.shadowBox a.outerLink:hover,
.shadowBox span.outerSpan:hover {
    border: 1px solid #a2a2a2;
    box-shadow: inset 0 0 15px rgba(0,0,0,.07);
}

.simpleShadowBox {
    border-radius: 10px;
    /*width: 198px;*/
    /*min-height: 126px;*/
    border: 1px solid #dadada;
    /*text-align: center;*/
    /*font-size: 18px;*/
    /*font-weight: bold;*/
    /*color: #444;*/
    box-shadow: 0 3px 5px rgba(0,0,0,.1);
}

/* ----------------- Shadow Box -----------------  */



/* Miscellaneous */
.geo-phone {
    margin-right: 10px;
}

.clear {
    clear: both;
    height: 0px;
    line-height: 0px;
    overflow: hidden;
    font-size: 1px;
    color: #0d0c00;
}

.bold {
    font-weight: bold !important;
}

.align-right {
    text-align: right !important;
}

.align-left {
    text-align: left !important;
}

.align-center {
    text-align: center !important;
}



/* Ribbon */
.prom {
    right: 128px;
    overflow: hidden;
    padding: 12px 0 0 0;
    color: #444;
    text-align: center;
    position: absolute;
}

.prom140 {
    top: -6px;
    left: -5px;
    width: 106px;
    height: 82px;
}

    .prom140 span.gspr {
        top: 12px;
        left: -30px;
        margin: 1px 0 0 1px;
        padding-top: 4px;
        height: 24px;
        width: 142px;
    }

.gspr {
    display: block;
    background-image: url('/Images/Sprite.png')!important;
}

.prom span.gspr {
    background-position: -42px -209px;
    font-weight: bold;
    font-size: 12px;
    -webkit-transform: rotate(-40deg);
    -moz-transform: rotate(-40deg);
    -ms-transform: rotate(-40deg);
    -o-transform: rotate(-40deg);
    transform: rotate(-40deg);
    position: relative;
    backface-visibility: hidden;
}

.prom140 i.folw {
    top: -4px;
    right: 0;
    width: 10px;
    height: 11px;
    background-position: -18px -206px;
}

.prom140 i {
    position: absolute;
    bottom: 0;
    width: 5px;
    height: 16px;
    background-position: -10px -216px;
}



/* Buttons */
.view-product {
    bottom: 25px;
    left: 0;
    width: 100%;
}

    .view-product a {
        width: 120px;
        height: 25px;
        line-height: 25px;
        color: #FFF;
        margin: 0 auto;
        display: block;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        text-decoration: none;
        background: #90bf4e;
        -webkit-transition: all .1s ease-in-out;
        -moz-transition: all .1s ease-in-out;
        -ms-transition: all .1s ease-in-out;
        -o-transition: all .1s ease-in-out;
        transition: all .1s ease-in-out;
    }

        .view-product a:hover {
            background: #79a240;
            -webkit-transition: all .1s ease-in-out;
            -moz-transition: all .1s ease-in-out;
            -ms-transition: all .1s ease-in-out;
            -o-transition: all .1s ease-in-out;
            transition: all .1s ease-in-out;
        }


.add-to-cart a,
.secureCheckout a {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    width: 205px;
    height: 36px;
    line-height: 36px;
    color: #000;
    /*	margin:0 auto; */
    display: block;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-decoration: none;
    /*background: rgb(228, 121, 17); */
    background: #f3cd72;
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
    border: 1px;
    border-style: solid;
    border-color: rgb(129,129,129);
}

    .add-to-cart a:hover,
    .secureCheckout a:hover {
        background: #eeb935;
        /*	background: rgb(177, 104, 34); */
        -webkit-transition: all .1s ease-in-out;
        -moz-transition: all .1s ease-in-out;
        -ms-transition: all .1s ease-in-out;
        -o-transition: all .1s ease-in-out;
        transition: all .1s ease-in-out;
    }




.preOrderButton a {
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    width: 205px;
    height: 46px;
    line-height: 23px;
    color: #000;
    /*	margin:0 auto; */
    display: block;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-decoration: none;
    /*background: rgb(228, 121, 17); */
    background: #f3cd72;
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
    border: 1px;
    border-style: solid;
    border-color: rgb(129,129,129);
}

    .preOrderButton a:hover {
        background: #eeb935;
        /*	background: rgb(177, 104, 34); */
        -webkit-transition: all .1s ease-in-out;
        -moz-transition: all .1s ease-in-out;
        -ms-transition: all .1s ease-in-out;
        -o-transition: all .1s ease-in-out;
        transition: all .1s ease-in-out;
    }


.clearButton a {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    width: 205px;
    height: 36px;
    line-height: 36px;
    color: #666666; /*	margin:0 auto; */
    display: block;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-decoration: none; /*background: rgb(228, 121, 17); */
    background: #FFF;
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
    border: 1px;
    border-style: solid;
    border-color: rgb(217,217,217);
}


    .clearButton a:hover {
        background: #eaeaea;
        /*	background: rgb(177, 104, 34); */
        -webkit-transition: all .1s ease-in-out;
        -moz-transition: all .1s ease-in-out;
        -ms-transition: all .1s ease-in-out;
        -o-transition: all .1s ease-in-out;
        transition: all .1s ease-in-out;
    }

.versionButton a {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    width: 90px;
    height: 26px;
    line-height: 26px;
    color: #666666; /*	margin:0 auto; */
    display: block;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-decoration: none; /*background: rgb(228, 121, 17); */
    background: #FFF;
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
    border: 1px;
    border-style: solid;
    border-color: rgb(217,217,217);
}


    .versionButton a:hover {
        background: #9D143C;
        color: #FFF;
        /*	background: rgb(177, 104, 34); */
        -webkit-transition: all .1s ease-in-out;
        -moz-transition: all .1s ease-in-out;
        -ms-transition: all .1s ease-in-out;
        -o-transition: all .1s ease-in-out;
        transition: all .1s ease-in-out;
    }



.versionButtonCurrent a {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    width: 90px;
    height: 26px;
    line-height: 26px;
    color: #FFF;
    /*	margin:0 auto; */
    display: block;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-decoration: none;
    /*background: rgb(228, 121, 17); */
    background: #c51a4a;
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
    border: 1px;
    border-style: solid;
    border-color: rgb(129,129,129);
}


    .versionButtonCurrent a:hover {
        background: #9D143C;
        /*	background: rgb(177, 104, 34); */
        -webkit-transition: all .1s ease-in-out;
        -moz-transition: all .1s ease-in-out;
        -ms-transition: all .1s ease-in-out;
        -o-transition: all .1s ease-in-out;
        transition: all .1s ease-in-out;
    }



.standardButton,
.standardButton:visited {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    width: 205px;
    height: 36px;
    line-height: 36px;
    color: #000;
    /*	margin:0 auto; */
    display: inline-block;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-decoration: none;
    /*background: rgb(228, 121, 17); */
    background: #f3cd72;
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
    border: 1px;
    border-style: solid;
    border-color: rgb(129,129,129);
}

    .standardButton:hover {
        background: #eeb935;
        color: #000;
        /*	background: rgb(177, 104, 34); */
        -webkit-transition: all .1s ease-in-out;
        -moz-transition: all .1s ease-in-out;
        -ms-transition: all .1s ease-in-out;
        -o-transition: all .1s ease-in-out;
        transition: all .1s ease-in-out;
        text-decoration: none;
    }






.priceListPrice {
    font-size: 17px;
    color: rgb(177,39,4);
}

.priceListQty {
    font-size: 18px;
}

.ourPrice {
    float: right;
    padding-right: 10px;
    font-weight: bold;
}






.spanProductPrice {
    height: 14px;
    text-align: right;
    padding: 4px 12px;
    margin: 0 0 0 0;
    display: block;
    overflow: hidden;
}

.productRegPrice {
    color: Black;
    font-weight: bold;
}

.productOnSalePrice {
    font-size: 18px;
    color: rgb(177,39,4);
    font-weight: bold;
}

.productOnSaleRegularPrice, .strikeoutPrice {
    text-decoration: line-through;
    color: #626262;
}

.disabledPrice {
    color: #626262;
}



h1.PageTitle {
    color: rgb(204, 102, 0);
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}



.selectCurrency {
    font-size: 11px;
    float: right;
    padding: 12px 0 0 0;
    margin-right: 10px;
    width: 140px;
    line-height: 18px;
}

    .selectCurrency a {
        height: 13px;
        float: right;
        margin: 2px 2px 0 0;
    }

    .selectCurrency label {
        float: left;
        font-weight: bold;
        margin: 0 2px 0 0;
    }

    .selectCurrency a.activeCountry {
        border: #000 1px solid;
        margin: 1px 2px 0 0;
    }


.cartProductLink {
    color: rgb(0, 102, 192);
    font-size: 17px;
    font-weight: bold;
}

    .cartProductLink:hover {
        text-decoration: underline;
        color: #c75500;
    }


.cartDeleteProductLink {
    color: rgb(0, 102, 192);
    font-size: 11px;
}

    .cartDeleteProductLink:hover {
        text-decoration: underline;
        color: red;
    }








.box-left {
    float: left;
}

.box-right {
    float: right;
}




.form-head {
    /*margin-top: 15px;*/
    font-weight: bold;
    background: #45b8e1;
    color: WHite;
    /*    background: #900; */ /*#626262;*/
    padding: 7px 10px;
    font-size: 17px;
    /*    border: 1px solid #D6D6D6; */
    -moz-border-radius: 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    border-radius: 5px 5px 0px 0px;
}

.form-body {
    background-color: #FDFDFD;
    border-left: 1px solid #D6D6D6;
    border-right: 1px solid #D6D6D6;
    border-bottom: 1px solid #D6D6D6;
    padding: 10px !important;
    -webkit-border-radius: 0px 0px 5px 5px;
    border-radius: 0px 0px 5px 5px;
    margin-bottom: 20px;
}


    .form-body table tr td {
        padding: 3px;
    }



.form-label {
    /*padding-left: 10px !important;*/
    padding-right: 10px !important;
}



.required {
    /*font-weight: bold;*/
}


.InputTextBox,
.InputTextBox:disabled {
    font-size: 17px;
    border: 1px solid #c4c0bc;
    padding: 7px;
    border-radius: 5px;
    width: 250px;
}

    .InputTextBox:focus {
        outline: none;
        border: 2px solid #328aab;
        padding: 6px;
    }


.ValidationError {
    color: red;
    font-weight: bold;
}

.ValidationErrors {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 35px;
    line-height: 21px;
}


.productPageFeatures {
    line-height: 21px;
}

.productPageDescription {
    line-height: 21px;
}


.standardText {
    line-height: 21px;
}




.relatedProductLink, .relatedProductLink:visited, .relatedProductLink:active {
    color: #353535;
    font-size: 14px;
    font-weight: normal;
}

    .relatedProductLink:hover {
        text-decoration: underline;
        color: #c75500;
    }
